---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary, summary_ext, summary_end } = basics
---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
  <br>
  <p>
    {summary_ext}
  </p>
  <br>
  <p>
    {summary_end}
  </p>
</Section>
